{% extends "base.html.twig" %}
{% block title %}Equips{% endblock %}
{% block stylesheets %}
   {{ encore_entry_link_tags('app')  }}
   <link href="{{ asset('Impact/assets/css/estilsEquips.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
   {% if dades %}
   <h1 id="titolInici">Dades de Equips {{ dades.codi }} </h1>
   <div class="caja1">
       <p id="paragrafInici">Proyecte 2n DAW <br>
           <img class="imatgeInici" src=" {{ asset('Impact/assets/img/' ~ dades.img ) }} " />
       </p>
       <div id="paragrafInici">
           <ul>
               <li><strong>Codi : </strong> {{ dades.codi }}</li>
               <li><strong>Nom : </strong> {{ dades.nom }}</li>
               <li><strong>Code :</strong> {{ dades.cicle }}</li>
               <li><strong>Curs :</strong> {{ dades.curs }}</li>
               <li><strong>Membres : </strong><br>
                   {% for i in dades.membres %}
                       <a> {{ i }} </a>
                   {% endfor %}
               </li>
           </ul>           
       </div>
       <p id="paragrafInici">
           <img src="https://img.icons8.com/emoji/48/null/house-emoji.png" href="{{ path('inici') }}"/>
           <a href="{{ path('inici') }} "/>Torna a l'inici
       </p>
   </div>
   {% else %}
        <h1 id="titolInici">Dades de Equips </h1>
   <div class="caja1">
       <p id="paragrafInici">Proyecte 2n DAW <br>
           <img class="imatgeInici" src=" {{ asset('Impact/assets/img/bicho.png') }} " />
       </p>
       <div id="paragrafInici">
           <p id="no_trobat">EQUIP no Trobat</p>
       </div>
       <p id="paragrafInici">
           <img src="https://img.icons8.com/emoji/48/null/house-emoji.png" href="{{ path('inici') }}"/>
           <a href="{{ path('inici') }} "/>Torna a l'inici
       </p>
  
   </div>
   {% endif %}


{% endblock %}



